{% extends 'frontend/base.html' %}

{% load bootstrap3 %}

{% block title %}Latest Downloads{% endblock %}

{% block content %}

  {% if latest_episode_list %}

    <table class="table">
      <thead>
        <tr>
          <th>Episode</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        {% for episode in latest_episode_list %}
          {% if episode.processed %}
            <tr class="success">
          {% else %}
            <tr class="danger">
          {% endif %}
            <!-- <td><a href="/frontend/episode/{{ episode.id }}/">{{ episode.dir_name }}</a></td> -->
              <td>{{ episode.dir_name }}</td>
              {% if episode.processed %}
                <td style="color: green">{% bootstrap_icon "ok" %}</td>
              {% else %}
                <td style="color: orange">{% bootstrap_icon "exclamation-sign" %}</td>
              {% endif %}
            </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
      <p>No episodes are available.</p>
  {% endif %}

{% endblock %}
