{% extends 'frontend/base.html' %}

{% load bootstrap3 %}
{% load helpers %}

{% block title %}Latest Downloads{% endblock %}

{% block content %}

  {% if latest_episode_list %}

    <table class="table">
      <thead>
        <tr>
          <th>Episode</th>
          <th>Path</th>
          <th>Date</th>
          <th class="center">Status</th>
        </tr>
      </thead>
      <tbody>
        {% for episode in latest_episode_list %}
          {% if episode.processed %}
            <tr class="success">
          {% else %}
            <tr class="danger">
          {% endif %}
              <td>{{ episode.dir_name }}</td>
              <td>{{ episode.path }}</td>
              <td>{{ episode.dl_date }}</td>
              {% if episode.processed %}
                {% tooltip "green" "Everything OK!" "ok" %}
              {% else %}
                {% tooltip "orange" "Episode processing failed!" "exclamation-sign"%}
              {% endif %}
            </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
      <p>No episodes are available.</p>
  {% endif %}

  {% activate_tooltip %}

{% endblock %}
