{% extends 'frontend/base.html' %}

{% load bootstrap3 %}
{% load helpers %}

{% block title %}TV Shows{% endblock %}

{% block content %}

  {% if tv_show_stats %}

    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Latest Episode</th>
          <th>Last Download Date</th>
          <th class="center">Processed</th>
          <th class="center">Status</th>
          <th class="center">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for tv_show in tv_show_stats %}
          {% if tv_show.0.episode_count == tv_show.1 and tv_show.0.updated or tv_show.0.skip %}
            <tr class="success">
          {% elif not tv_show.0.updated %}
            <tr class="info">
          {% else %}
            <tr class="danger">
          {% endif %}
              <td>{{ tv_show.0.name }}</td>
              <td>{{ tv_show.2.dir_name }}</td>
              <td>{{ tv_show.2.dl_date }}</td>
              <td class="center">{{ tv_show.1}}/{{ tv_show.0.episode_count }}</td>
              {% if tv_show.0.episode_count == tv_show.1 and tv_show.0.updated or tv_show.0.skip %}
                {% tooltip "green" "Everything OK!" "ok" %}
                {% dropdown "success" tv_show.0.pk %}
              {% elif not tv_show.0.updated %}
                {% tooltip "blue" "Latest episode is missing!" "question-sign"%}
                {% dropdown "info" tv_show.0.pk %}
              {% else %}
                {% tooltip "orange" "Errors processing episodes!" "exclamation-sign"%}
                {% dropdown "danger" tv_show.0.pk %}
              {% endif %}
            </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
      <p>No TV Shows are available.</p>
  {% endif %}

  {% activate_dropdown %}
  {% activate_tooltip %}

{% endblock %}
