{% extends 'frontend/base.html' %}

{% load bootstrap3 %}

{% block title %}TV Shows{% endblock %}

{% block content %}

  {% if tv_show_stats %}

    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Latest Episode</th>
          <th>Last Download Date</th>
          <th class="center">Processed</th>
          <th class="center">Status</th>
        </tr>
      </thead>
      <tbody>
        {% for tv_show in tv_show_stats %}
          {% if tv_show.0.episode_count == tv_show.1 and tv_show.0.updated %}
            <tr class="success">
          {% elif not tv_show.0.updated %}
            <tr class="info">
          {% else %}
            <tr class="danger">
          {% endif %}
              <td>{{ tv_show.0.name }}</td>
              <td>{{ tv_show.2.dir_name }}</td>
              <td>{{ tv_show.2.dl_date }}</td>
              <td class="center">{{ tv_show.1}}/{{ tv_show.0.episode_count }}</td>
              {% if tv_show.0.episode_count == tv_show.1 and tv_show.0.updated %}
                <td class="center green">{% bootstrap_icon "ok" %}</td>
              {% elif not tv_show.0.updated %}
                <td class="center blue">{% bootstrap_icon "question-sign" %}</td>
              {% else %}
                <td class="center orange">{% bootstrap_icon "exclamation-sign" %}</td>
              {% endif %}
            </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
      <p>No TV Shows are available.</p>
  {% endif %}

{% endblock %}
